<h1><%= t("pass_reset.title") %></h1>

<p><%= t("pass_reset.content") %></p>

<%= link_to t("reset_pass.title"), edit_password_reset_url(id:@user.reset_token,
  email: @user.email) %>

<p><%= t("pass_reset.content1") %></p>

<p><%= t("pass_reset.content2") %></p>
